<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>M.Sheep/松尾ジンギスカンをお家で楽しむ</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header id="header" class="">
		<div class="header_cont_wrap_pc">
			<p>M.Sheep</p>
			<nav>
				<ul>
					<li><a href="index.html" title="松尾羊トップ">top</a></li>
					<li><a href="about.html" title="松尾ジンギスカンの魅力">About</a></li>
					<li><a href="shop.html" title="松尾ジンギスカンを食べにいく">Shop</a></li>
					<li><a href="at_home.html" title="松尾ジンギスカンをお家で楽しむ">At Home</a></li>
				</ul>
			</nav>
		</div>
	</header><!-- /header -->
	<main>
		<div class="main_v">
			<p>松尾ジンギスカンをお家で楽しむ</p>
		</div>
		<div class="main_wrap" style="height: 540px;">
			<section></section>
			<section>申し訳ございません…只今準備中です。</section>	
		</div>
		

	</main>
	<footer>
		<div class="footer_v">
			<a href="#header">▲ 一番上へ戻る　▲</a>
		</div>
		<div class="footer_cont_wrap_pc">
			<p>nagisa chida</p>
			<ul>
				<li>※このページの内容は、2021年2月時点のものです。「松尾ジンギスカン」を個人として勝手に応援しているだけであり、株式会社マツオとはいっさい関係ありませんので予めご了承ください。</li>
			</ul>
		</div>
	</footer>
</body>
</html>