<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>M.Sheep/トップページ</title>
	<link rel="stylesheet" href="../css/style.css">
	<!--▼Lightbox読み込み▼-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"
	type="text/javascript"></script>
	<!--▲Lightbox読み込み▲-->
	<!--▼bxslider▼-->
	<link rel="stylesheet" href="../bxslider-4-4.2.12/dist/jquery.bxslider.css"><!--インストールしたファイル-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><!--jqueryの読み込み-->
	<script src="../bxslider-4-4.2.12/dist/jquery.bxslider.min.js"></script><!--インストールしたファイル-->
	<script>
	$(function(){
		 $('.bxslider').bxSlider({
			auto: true,//「自動でスライド」
			slideWidth: 640,//「コンテンツの横幅は640px」
			minSlides: 4//「最小スライド数が3点」
		});
	});
	</script>
	<!--▲bxslider▲-->
</head>
<body>
	<header id="header" class=""><!-- header -->
		<div class="header_cont_wrap_pc">
			<p>M.Sheep</p>
			<nav>
				<ul>
					<li><a href="index.html" title="松尾羊トップ">top</a></li>
					<li><a href="about.html" title="松尾ジンギスカンの魅力">About</a></li>
					<li><a href="shop.html" title="松尾ジンギスカンを食べにいく">Shop</a></li>
					<li><a href="at_home.html" title="松尾ジンギスカンをお家で楽しむ">At Home</a></li>
				</ul>
			</nav>
		</div>
	</header><!-- /header -->
	<main>
		<div class="main_v">
			<p>I★HOKKAIDO</p>
		</div>
		<div class="main_wrap">
			<section>
				<p><img src="../img/seep_m.jpg" alt="羊" class="w100"></p>
				<h2>フォトギャラリー(lightbox)</h2>
				<ul class="gallery_list">
					<!-- 1枚目の画像 -->
					<li class="gallery_item">
						<a href="https://cdn.pixabay.com/photo/2016/04/20/19/47/wolves-1341881_960_720.jpg" data-lightbox="snow" data-title="1枚目の画像"><img src="https://cdn.pixabay.com/photo/2016/04/20/19/47/wolves-1341881_960_720.jpg" alt="" class="w100"></a>
					</li>
					<!-- 2枚目の画像 -->
					<li class="gallery_item">
						<a href="https://cdn.pixabay.com/photo/2017/01/14/12/59/iceland-1979445_960_720.jpg" data-lightbox="snow" data-title="2枚目の画像"><img src="https://cdn.pixabay.com/photo/2017/01/14/12/59/iceland-1979445_960_720.jpg" alt="" class="w100"></a>
					</li>
					<!-- 3枚目の画像 -->
					<li class="gallery_item">
						<a href="https://cdn.pixabay.com/photo/2017/08/02/14/26/winter-landscape-2571788_960_720.jpg" data-lightbox="snow" data-title="3枚目の画像"><img src="https://cdn.pixabay.com/photo/2017/08/02/14/26/winter-landscape-2571788_960_720.jpg" alt="" class="w100"></a>
					</li>
					<!-- 4枚目の画像 -->
					<li class="gallery_item">
						<a href="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" data-lightbox="tree" data-title="4枚目の画像"><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" alt="" class="w100"></a>
					</li>
					<!-- 5枚目の画像 -->
					<li class="gallery_item">
						<a href="https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg" data-lightbox="tree" data-title="5枚目の画像"><img src="https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg" alt="" class="w100"></a>
					</li>
					<!-- 6枚目の画像 -->
					<li class="gallery_item">
						<a href="https://cdn.pixabay.com/photo/2015/02/24/15/41/wolf-647528_960_720.jpg" data-lightbox="tree" data-title="6枚目の画像"><img src="https://cdn.pixabay.com/photo/2015/02/24/15/41/wolf-647528_960_720.jpg" alt="" class="w100"></a>
					</li>
				</ul>
			</section>
			<section>
				<ul class="bxslider">
					<li><img src="../img/photo1.jpg" width="640" height="300"></li>
					<li><img src="../img/photo2.jpg" width="640" height="300"></li>
					<li><img src="../img/photo3.jpg" width="640" height="300"></li>
					<li><img src="../img/photo4.jpg" width="640" height="300"></li>
					<li><img src="../img/photo5.jpg" width="640" height="300"></li>
					<li><img src="../img/photo6.jpg" width="640" height="300"></li>

				</ul>
			</section>
			<section>
				<p>北海道</p>
				<p>本店</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.480304874696!2d141.90951161540804!3d43.55487396680154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0c98da58cbce35%3A0xdc1cbb9b133d2806!2z44CSMDczLTAwMzIg5YyX5rW36YGT5rud5bed5biC5piO56We55S677yT5LiB55uu77yV4oiS77yR77yS!5e0!3m2!1sja!2sjp!4v1614448296760!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				<p>〒073-0032北海道滝川市明神町3丁目5-12</p>
				<p>TEL 0125-22-2989 FAX 0125-22-5200</p>
			</section>
			<section>

			</section>	
		</div>
		

	</main>
	<footer>
		<div class="footer_v">
			<a href="#header">▲ 一番上へ戻る　▲</a>
		</div>
		<div class="footer_cont_wrap_pc">
			<p>nagisa chida</p>
			<ul>
				<li>※このページの内容は、2021年2月時点のものです。「松尾ジンギスカン」を個人として勝手に応援しているだけであり、株式会社マツオとはいっさい関係ありませんので予めご了承ください。</li>
			</ul>
		</div>
	</footer>
</body>
</html>