<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>M.Sheep/トップページ</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<header id="header" class="">
		<div class="header_cont_wrap_pc">
			<p>M.Sheep</p>
			<nav>
				<ul>
					<li><a href="index.html" title="松尾羊トップ">top</a></li>
					<li><a href="about.html" title="松尾ジンギスカンの魅力">About</a></li>
					<li><a href="shop.html" title="松尾ジンギスカンを食べにいく">Shop</a></li>
					<li><a href="at_home.html" title="松尾ジンギスカンをお家で楽しむ">At Home</a></li>
				</ul>
			</nav>
		</div>
	</header><!-- /header -->
	<main>
		<div class="main_v">
			<p>私は生まれ故郷の「松尾ジンギスカン」を勝手に応援しています。</p>
		</div>
		<div class="main_wrap">
			<section>
				<p><img src="../img/seep_m.jpg" alt="羊" class="w100"></p>
			</section>
			<section>
				<p>北海道</p>
				<p>本店</p>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.480304874696!2d141.90951161540804!3d43.55487396680154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0c98da58cbce35%3A0xdc1cbb9b133d2806!2z44CSMDczLTAwMzIg5YyX5rW36YGT5rud5bed5biC5piO56We55S677yT5LiB55uu77yV4oiS77yR77yS!5e0!3m2!1sja!2sjp!4v1614448296760!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				<p>〒073-0032北海道滝川市明神町3丁目5-12</p>
				<p>TEL 0125-22-2989 FAX 0125-22-5200</p>
			</section>
			<section></section>	
		</div>
		

	</main>
	<footer>
		<div class="footer_v">
			<a href="#header">▲ 一番上へ戻る　▲</a>
		</div>
		<div class="footer_cont_wrap_pc">
			<p>nagisa chida</p>
		</div>
	</footer>
</body>
</html>